##IBM Data Science Project

## Introduction
This notebook covers various exercises related to data science concepts, tools, and basic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools

| Tool           | Purpose                |
|----------------|------------------------|
| Jupyter Notebook | Interactive coding environment |
| RStudio        | IDE for R              |
| Apache Spark   | Big data processing    |
| Tableau        | Data visualization     |
| Excel          | Data analysis          |

## Arithmetic Expressions Examples
- Addition: `5 + 3`
- Subtraction: `10 - 2`
- Multiplication: `4 * 2`
- Division: `8 / 2`

In [2]:
def addition(a,b):
  return a+b

def multiplication(a,b):
  return a*b

In [3]:
addition(5,3)

8

In [4]:
multiplication(5,3)

15

In [6]:
def min_to_hour(minutes):
  return minutes/60

In [7]:
min_to_hour(550)

9.166666666666666

## Objectives
- Practice data science operations in Python
- Familiarize with Jupyter Notebook

## Author
- Jo√£o Gabriel Sanches